<% if test_scenarios.any? %>
  <div class="mt-8 text-center">
    <%= link_to test_plan_report_path(test_plan, format: :pdf), target: "_blank", class: "btn btn--primary btn--lg" do %>
      &#128196; <%= t('test_plans.show.export_pdf') %>
    <% end %>
  </div>
<% end %>
