<div class="page">
  <div class="page__container--sm">
    <div class="mb-4">
      <%= link_to test_plans_path, class: "page__back", data: { controller: "keyboard-shortcut", keyboard_shortcut_key_value: "b" } do %>
        &larr; <%= t('test_plans.new.back') %>
        <span class="kbd">B</span>
      <% end %>
    </div>

    <div class="panel panel--padded">
      <h1 class="panel__title panel__title--lg"><%= t('test_plans.new.title') %></h1>

      <%= render 'form', test_plan: @test_plan %>
    </div>
  </div>
</div>
